@charset "utf-8";

body {
  background-color: #ccc;
  font-family: Verdana, Arial, Georgia;
  margin: 0 auto;
  width: 900px;
}

h1 {
  background-color: #555;
  color: #fff;
  font-family: Lucida Sans, sans-serif;
  font-size: 28;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  background-color: #fdfdfd;
  color: #111;
  font-family: Lucida Sans, sans-serif;
  font-size: 20px;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
}

p {
  color: green;
  font-family: sans-serif;
  font-size: 18px;
}

footer #copyright {
  background-color: #fdfdfd;
  color: #555;
  font-family: sans-serif, helvetica, arial;
  font-size: 14px;
  padding: 10px;
  text-align: center;  
}

